<h1>Here are all the questions:</h1>
<ul>
  <% questions.forEach(function(question) { %>
    <li>
      <a href="<%= '/poll/' + question['_id'] %>">
        <%=question.question%>
      </a>
    </li>
  <% }) %>
</ul>
