<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voting App - <%= title %></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <nav class="wrapper">
        <ul>
          <li<% if (page_name === 'allPolls') { %> class="active" <% } %>><a href="/">All polls</a></li>
          <% if (user) { %>
            <li<% if (page_name === 'myPolls') { %> class="active" <% } %>><a href="/dashboard">My polls</a></li>
            <li<% if (page_name === 'newPoll') { %> class="active" <% } %>><a href="/new">New poll</a></li>
          <% } %>
        </ul>
        <ul class="pull-right">
          <% if (user) { %>
            <li><a href="/users/logout">Logout</a></li>
          <% } %>
          <% if (!user) { %>
            <li><a href="/users/login">Log in/Sign up</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

    <div class="wrapper">
      <%- body %>
    </div>
  </body>
</html>
