<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Voting App - <%= title %></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <nav class="wrapper">
        <ul>
          <li<% if (page_name === 'allPolls') { %> class="active" <% } %>><a href="/">All polls</a></li>
          <li<% if (page_name === 'newPoll') { %> class="active" <% } %>><a href="/new">New poll</a></li>
        </ul>
      </nav>
    </header>

    <div class="wrapper">
      <%- body %>
    </div>
  </body>
</html>
