<h1>
  Create a new poll
</h1>

<form action="/api/save-new-poll" method="post">
  <label>Question text</label>
  <input type="text" name="question" required/>

  <label>Options (separated by line)</label>
  <textarea name="options" rows="5" required></textarea>

  <button type="submit">Get answers!</button>
</form>

<script src="/js/newPoll.js"></script>
