<h1>
  Create a new poll
</h1>

<form action="/api/save-new-poll" method="post">
  <strong>Question text</strong><br />
  <input type="text" name="question" required/>

  <strong>Options (separated by line)</strong><br />
  <textarea name="options" rows="5" required></textarea>

  <button type="submit">Get answers!</button>
</form>

<script src="/js/newPoll.js"></script>
