<h1>
  Create an account
</h1>

<form action="/users/signup" method="post">

  <span class="message">
    <% if (message.length > 0) { %>
      <%= message %>
    <% } %>
  </span>

  <label>Username</label>
  <input type="text" name="username" required>

  <label>Password</label>
  <input type="password" name="password" required>

  <button type="submit">Sign up</button> <br />
  <a href="/users/login">Already have an account? Go log in!</a>
</form>
